html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light-gray{
    background: #E4E4E4
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 60%;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.pd-30{
    padding: 30px;
}
@media screen and (max-width: 1200px) {
    .container{
        width: 80%;
    }
    .row{
        flex-direction: row;
    }

    [class*="col-"]{
        width: 50%;
        margin: 0 auto;
        align-items: center;
    }
    [class*="col-"]:nth-child(n){
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 80%;
    }
    .row{
        flex-direction: column;
    }

    [class*="col-"]{
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    [class*="col-"]:nth-child(n){
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}